# Node
node_modules/
dist/
.env
.env.local

# Java / Maven
target/
*.class
*.jar
*.war
.mvn/

# IDE
.idea/
*.iml
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# DB
*.db
*.h2.mv.db
*.h2.trace.db

# Docker
.docker/
